* 
{
    box-sizing: border-box;
}

body 
{
    font-size: 16px;
    background-color: #2D2327;
    margin: 0;
    padding: 0;
}

.content-container 
{
    padding: 10px;
    width: 100%;
    background-color: #E0DDCF;
    min-height: 300px;
    margin: 0;
}

.header-container 
{
    padding: 10px;
    width: 100%;
    background-color: #2D2327;
    color: #E0DDCF;
    text-align: center;
}

.header-container img 
{
    width: 70%;
}

.nav-container 
{
    color: #e0ddcf;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: #2D2327;
}

.nav-container a 
{
    color: #E0DDCF;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}

.nav-container a:hover 
{
    background-color: #E0DDCF;
    color: #2D2327;
}

.footer-container 
{
    padding: 10px;
    width: 100%;
    background-color: #2D2327;
    color: #E0DDCF;
    text-align: center;
}

.footer-container a 
{
    color: #e0ddcf;
}

.body-content 
{
    width: 80%;
    margin: 2em auto 3em;
    font-size: 20px;
}

.filter-lbl
{
    display: inline-block;
    width: 15%;
    font-weight: bold;
    margin: 5px;
    text-align: right;
    font-size: 14px;
}

.filter-list
{
    display: inline-block;
    width: 30%;
    margin: 5px;
}


.product-grid 
{
    margin: 15px;
    border: 1px solid #B87D4B;
    font-size: 14px;
    font-family: sans-serif;
    width: 100%;
}

.product-grid th
{
    padding: 10px;
}

.product-grid-header 
{
    background-color: #B87D4B;
    color: #E0DDCF;
    padding: 10px;
    border: 0;
}

.product-grid-header a 
{
    text-decoration: none;
    color: #E0DDCF;
    font-weight: bold;
}

.product-grid-header a:hover 
{
    text-decoration: underline;
    color: #E0DDCF;
    font-weight: bold;
}

.product-grid td 
{
    padding: 10px;
    border: 0;
    text-align: center;
}

.product-grid tr:nth-child(even) 
{
    background-color: #F4ECC4;
}

.product-grid-pager 
{
    background-color: #D36135 !important;
    color: #ECE4B7;
    padding: 10px;
    border: 0;
    font-weight: bold;
    text-align: right;
}

.product-grid-pager a
{
    color: #ECE4B7;
}






.non-semantic-protector 
{
    position: relative;
    z-index: 1;
}

.ribbon 
{
    font-size: 36px !important;
    font-family: sans-serif;
    width: 35%;
    position: relative;
    background: #B87D4B;
    color: #E0DDCF;
    text-align: center;
    padding: .5em 1.5em;
    margin: 1em auto 2em;
}

.ribbon:before, .ribbon:after 
{
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.0em solid #7D4D24;
    z-index: -1;
}

.ribbon:before 
{
    left: -1.5em;
    border-right-width: 1.5em;
    border-left-color: transparent;
}

.ribbon:after 
{
    right: -1.5em;
    border-left-width: 1.5em;
    border-right-color: transparent;
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after 
{
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #48290E transparent transparent transparent;
    bottom: -1em;
}

.ribbon .ribbon-content:before 
{
    left: 0;
    border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after 
{
    right: 0;
    border-width: 1em 1em 0 0;
}

.message 
{
    padding: 10px;
    color: #2D2327;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.message-ok 
{
    background-color: #B9D3AD;
    border-left: 5px solid #7FB069;
}

.message-error 
{
    background-color: #E7A890;
    border-left: 5px solid #D36135;
}