@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Oswald');

* 
{
    box-sizing: border-box;
}

body 
{
    font-size: 16px;
    background-color: #2D2327;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.content-container 
{
    padding: 10px;
    width: 100%;
    background-color: #E0DDCF;
    min-height: 300px;
    margin: 0;
}

.header-container 
{
    padding: 10px;
    width: 100%;
    background-color: #2D2327;
    color: #E0DDCF;
    text-align: center;
}

.header-container img 
{
    width: 50%;
}

.nav-container 
{
    color: #e0ddcf;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: #2D2327;
}

.nav-container a 
{
    color: #E0DDCF;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}

.nav-container a:hover 
{
    background-color: #E0DDCF;
    color: #2D2327;
}

.cart-count 
{
    display: inline-block;
    background-color: #B87D4B;
    color: #E0DDCF;
    padding: 2px 9px;
    font-weight: bold;
    font-size: 18px;

    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
}

.footer-container 
{
    padding: 10px;
    width: 100%;
    background-color: #2D2327;
    color: #E0DDCF;
    text-align: center;
}

.footer-container a 
{
    color: #e0ddcf;
}

.body-content 
{
    width: 80%;
    margin: 2em auto 3em;
    font-size: 20px;
}


/*****************
 * search page
 ****************/


.filter-lbl
{
    display: inline-block;
    width: 15%;
    font-weight: bold;
    margin: 5px;
    text-align: right;
    font-size: 14px;
}

.filter-list
{
    display: inline-block;
    width: 30%;
    margin: 5px;
}

.product-grid 
{
    margin-top: 20px;
    border: 1px solid #B87D4B;
    font-size: 14px;
    font-family: serif;
    width: 100%;
}

.product-grid th
{
    padding: 10px;
}

.product-grid-header 
{
    background-color: #B87D4B;
    color: #E0DDCF;
    padding: 10px;
    border: 0;
}

.product-grid-header a, .product-grid-pager a 
{
    text-decoration: none;
    color: #E0DDCF !important;
    font-weight: bold;
}

.product-grid-header a:hover, .product-grid-pager a:hover 
{
    text-decoration: underline;
    color: #E0DDCF;
    font-weight: bold;
}

.product-grid td 
{
    padding: 10px;
    border: 0;
    text-align: center;
}

.product-grid tr:nth-child(even) 
{
    background-color: #D7D5CD;
}

.product-grid tr a 
{
    color: #B87D4B;
    font-weight: bold;
    font-size: 14px;
}

.product-grid-pager {
    background-color: #B87D4B;
    color: #E0DDCF;
    padding: 10px;
    border: 0;
    font-weight: bold;
    text-align: right;
}

.product-grid-pager a 
{
    font-size: 20px !important;
}

.product-grid-pager span 
{
    display: inline-block;
    background-color: #E0DDCF;
    color: #B87D4B;
    width: 20px;
    font-size: 18px;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
}


.star-container
{
    width: 100px;
    text-align: left;
}


.star-lbl
{
    background-image: url('../images/five_star.png');
    background-repeat: no-repeat;
    display: block;
    height: 23px;
}

/*****************
 * cart page
 ****************/


.cart-list 
{
    font-size: 36px;
    border-bottom: 5px solid #2D2327;
    margin: 20px 130px;
}

.cart-item-name 
{
    display: inline-block;
    width: 200px;
    overflow: hidden;
    vertical-align: bottom;
}

.cart-item-price-spacer
{
    display: inline-block;
    overflow: hidden;
}

.cart-item-price 
{
    display: inline-block;
    width: 150px;
    text-align: right;
    overflow: hidden;
    vertical-align: bottom;
}

.cart-item-num-spacer
{
    display: inline-block;
}

.cart-item-num 
{ 
    display: inline-block;
    width: 30px;
}

.cart-item-remove a 
{
    font-weight: bold;
    color: #B87D4B;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}

.cart-total-container 
{
    margin: 20px 150px;
    font-size: 36px;
    text-align: right;
}

.cart-checkout-container 
{
    margin: 30px 150px;
    text-align: right;
}

.cart-total-val
{
    font-weight: bold;
}


/*****************
 * checkout page
 ****************/


.checkout-form-content 
{
    margin: 20px 130px;
}
.checkout-list 
{
    font-size: 36px;
    border-bottom: 5px solid #2D2327;
    margin: 20px 130px;
}

.checkout-item-name 
{
    display: inline-block;
    width: 200px;
    overflow: hidden;
    vertical-align: bottom;
}


.checkout-item-price 
{
    display: inline-block;
    width: 150px;
    text-align: right;
    overflow: hidden;
    vertical-align: bottom;
}

.checkout-item-num-spacer 
{
    display: inline-block;
}

.checkout-item-num 
{
    display: inline-block;
    width: 30px;
}


.checkout-total-container 
{
    margin: 20px 150px;
    font-size: 36px;
    text-align: right;
}

.checkout-checkout-container 
{
    margin: 30px 150px;
    text-align: right;
}

.checkout-total-val 
{
    font-weight: bold;
}

.checkout-form-lbl
{
    display: inline-block;
    width: 175px;
    text-align: right;
    margin-right: 5px;
}

.checkout-col1, .checkout-col2
{
    display: inline-block;
    width: 49%;
    vertical-align: top;

}

.checkout-col1
{
    text-align: right;
}

.checkout-col2
{
    text-align: left;
}


/*****************
 * registration page
 ****************/


.registration-panel 
{
    border: 1px solid #2D2327;
    margin: 20px 350px;
    padding: 20px;
    text-align: center;
}

.registration-form-lbl 
{
    display: inline-block;
    width: 110px;
    text-align: right;
    margin-right: 5px;
}


/*****************
 * login page
 ****************/


.login-panel 
{
    border: 1px solid #2D2327;
    margin: 20px 350px;
    padding: 20px;
    text-align: center;
}

.login-panel a 
{
    color: #B87D4B;
}

.login-form-lbl 
{
    display: inline-block;
    text-align: right;
    margin-right: 5px;
}


/*****************
 * comment page
 ****************/

.comment-list 
{
    list-style-type: none;
    margin: 20px 250px;
}

.comment-list li
{
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #2D2327;
}

.comment-title
{
    font-size: 30px;
    display: block;
}

.comment-author
{
    display: inline-block;
    font-weight: bold;
}

.comment-date
{
    display: inline-block;
    margin-left: 10px;
}

.comment-text
{
    padding: 10px;
    display: block;
}


.comment-label 
{
    display: block;
    margin: 5px;
}

.comment-formfield
{
    display: block !important;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*****************
 * rating page
 ****************/


.rating-spacer
{
    margin: 20px 400px;
}

.rating-grid 
{
    border: 1px solid #B87D4B;
    font-size: 14px;
    font-family: serif;
    width: 100%;
}

.rating-grid th 
{
    padding: 10px;
}

.rating-grid-header 
{
    background-color: #B87D4B;
    color: #E0DDCF;
    padding: 10px;
    border: 0;
}

.rating-grid-footer 
{
    font-weight: bold;
}

.rating-grid td 
{
    padding: 10px;
    border: 0;
    text-align: center;
}

.rating-grid tr:nth-child(even) 
{
    background-color: #D7D5CD;
}

.add-rating-container
{
    text-align: center;
}

.rating-label
{
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

.rating-ddl
{
    vertical-align: middle;
}

/*****************
 * item deet page
 ****************/


.item-detail-list 
{
    list-style-type: none;
    margin: 20px 250px;
    font-size: 30px;
}

.item-detail-list li 
{
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #2D2327;
}


.item-detail-label 
{
    display: inline-block;
    font-weight: bold;
    width: 230px;
}

.item-detail-value
{
    display: inline-block;
}

.item-detail-btn
{
    width: 100%;
    text-align: right;
    display: block;
}


/*****************
 * admin pages
 ****************/


.admin-blurb
{
    display: block;
    width: 100%;
    text-align: center;
}

.admin-content-container 
{
    margin: 20px auto;
    width: 600px;
}

/*****************
 * form stuff
 ****************/


.cta-btn 
{
    display: inline-block;
    padding: 5px 15px;
    font-size: 36px;
    background-color: #B87D4B;
    color: #E0DDCF;
    text-decoration: none;
    border: 0;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
}

.cta-btn:hover 
{
    background-color: #7D4D24;
}


.formfield-text 
{
    border-bottom: 1px dashed #2D2327;
    padding: 8px;
    display: inline-block;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #F0EDDF;
}

.spacer
{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*****************
 * ribbon
 ****************/


.non-semantic-protector 
{
    position: relative;
    z-index: 1;
}

.ribbon 
{
    font-size: 36px !important;
    font-family: 'Fredericka the Great', cursive, serif;
    width: 45%;
    position: relative;
    background-color: #B87D4B;
    color: #E0DDCF;
    text-align: center;
    padding: .5em 1.5em;
    margin: 1em auto 2em;
}

.ribbon:before, .ribbon:after 
{
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.0em solid #7D4D24;
    z-index: -1;
}

.ribbon:before 
{
    left: -1.5em;
    border-right-width: 1.5em;
    border-left-color: transparent;
}

.ribbon:after 
{
    right: -1.5em;
    border-left-width: 1.5em;
    border-right-color: transparent;
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after 
{
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #48290E transparent transparent transparent;
    bottom: -1em;
}

.ribbon .ribbon-content:before 
{
    left: 0;
    border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after 
{
    right: 0;
    border-width: 1em 1em 0 0;
}


/*****************
 * messages
 ****************/


.message 
{
    padding: 10px;
    color: #2D2327;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.message-ok 
{
    background-color: #B9D3AD;
    border-left: 5px solid #7FB069;
}

.message-error 
{
    background-color: #E7A890;
    border-left: 5px solid #D36135;
}